<div class="container" style="height: 100%; margin:auto">

    <div class="row align-items-center" style="height: 100%; margin:auto">
        <div class="col">
            <div class="container signin-user">
                <h1 style="text-align: center;">Password Reset</h1>
                <br>

                <form [formGroup]="emailFormGroup" id="signIn-form" action="#" (ngSubmit)="submitAuthDetails()">

                    <div class="panel panel-primary">

                        <div class="panel-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email *" aria-required="true" formControlName="Email">
                                </div>
                            </div>
                            <div *ngIf="!isEmailValid">
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="resetErrorMsg()">&times;</a>
                                    <strong>Email incorect! </strong>Please re-enter your email address.
                                </div>
                            </div>
                            <div *ngIf="isEmailSent">
                                <div class="alert alert-success alert-dismissible">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="resetMsg()">&times;</a>
                                    <strong>Password Reset!</strong> Please check your email and set new password.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-primary">Reset Password</button>

                            <br>

                            <div class="signup-div" style="padding-top: 15px;">
                                <p>
                                    I should have password.
                                    <span>
                                <li class="signup-item" style="list-style-type: none;">
                                    <a class="sign-link" (click)="redirectTologin()">
                                        <i class="fas fa-sign-in-alt"></i>go to login
                                    </a>
                                </li>
                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>