<div class="base-page">

    <div class="folderItemContent-header">
        <h1 class="folderItemContent-title">My Files</h1>
    </div>

    <div class="base-page-inner-content folderItemContent-list">
        <!--
        the path is undefined by design.
        *ngIf="dirContent is empty"
        The component should only display the contents with item details
        -->
        <!--Directory contents comes here. https://angular.io/tutorial/toh-pt2-->
        <div class="list-page">

            <div class="itemTile cell-content" role="listitem">

                <!--****ToDo: href="{{FolderId}} OR {{ItemId}}" -->
                <a href="#" class="tile-link fluent-folder-icon">
                    <span class="tile-label">Documents, Folder, Modified August 10, 2020, 75.0 MB, 4 items, (Public/Private)</span>

                    <span role="presentation" class="tile-template">

                    <span role="presentation" class="itemTile-template-content">

                    <span role="presentation" class="itemTile-foreground foreground">

                        <span class="itemTile-folderCover">

                            <div class="item-FolderCover--isSmall item-FolderCover--isDefault item--FolderCover--isFluent item-FolderCover">
                                <i data-icon-name="folderCoverSmallDefaultBack" aria-hidden="true" class="item-FolderCover-back">
                                    <img src="../../../assets/images/sm-bg.svg">
                                </i>
                                <span class="item-FolderCover-content">
                                    <span class="item-FolderCover-frame">
                                        <span class="itemTile-blankCover">
                                        </span>
                    <!-- item-FolderCover-frame -->
                    </span>

                    <!-- item-FolderCover-content -->
                    </span>
                    <i data-icon-name="folderCoverSmallDefaultFront" aria-hidden="true" class="item-FolderCover-front">
                                    <img src="../../../assets/images/sm-fg.svg">
                                </i>
                    <span class="item-FolderCover-metadata">5</span>
                    <span class="item-FolderCover-signal"></span>
            </div>


            <!-- itemTile-folderCover -->
            </span>

            <!-- itemTile-foreground foreground -->
            </span>

            <!-- <span class="od-ItemTile2-folderCover">
                        <img src="../../../assets/images/lg-fg.svg">
                        <div class="title-info">
                            <span class="tile-name">Documents</span>
            <span class="tile-date">Aug 10, 2020</span>
        </div>
        </span> -->

            <!-- itemTile-template-content -->
            </span>

            <!-- tile-template -->
            </span>


            <span class="item-tile-info item-info">

				<span id="item-name-tag" class="item-metadata">
					<span class="item-signalField item-tile-name-signalField">
						<span class="signalFieldValue">
                            <span data-automationid="name">Documents</span>
            </span>
            </span>
            </span>

            <span id="item-date-tag" class="item-metadata">
                        <span class="item-signalField item-tile-date-signalField">
                            <span class="signalFieldValue">Nov 25, 2015</span>
            </span>
            </span>

            </span>

            <!-- tile-link fluent-folder-icon -->
            </a>

            <span role="checkbox" class="item-check-box tile-check-box" data-selection-toggle="true " aria-checked="false ">
                
                <!-- When checked: ms-Check is-checked root-164 -->
                <div class="item-Check root-103">
                    <i data-icon-name="CircleRing " role="presentation" aria-hidden="true " class="item-icon root-36 css-33 item-check-circle circle-104 " style="font-family: FabricMDL2Icons; "></i>
                    <i data-icon-name="StatusCircleCheckmark " role="presentation" aria-hidden="true " class="item-icon root-36 css-33 item-check-check check-105 " style="font-family: FabricMDL2Icons; "></i>
                </div>
             </span>
            <!-- itemTile cell-content -->
        </div>

        <!--****SECOND TILE AND SO FORTH-->
        <!-- list-page -->
    </div>

</div>

<div class="clearfix "></div>
</div>