<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">User Profile</h1>
</div>
<div class="row border-bottom" *ngIf="user" class="detailsContainer">
    <div class="col-md-12 detailsColumn">
        <div class="media user">
            <img class="userImg align-self-start mr-5 img-thumbnail rounded-circle" style="width: 60px; height: 60px;" src="{{(user?.photoURL) ? user?.photoURL : '/assets/dummy-user.png'}}" alt="{{user?.displayName}}">
            <div class="media-body userDetails">
                <h1>Hello: <strong>{{(user?.displayName) ? user?.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user?.uid}}</strong></p>
                <p>Email: <strong>{{user?.email}}</strong></p>
                <p>Email Verified: <strong>{{user?.emailVerified}}</strong></p>
                <p *ngIf="signedInUser?.UserAccess?.adminAccessLevel === 'fullAccess' || signedInUser?.UserAccess?.adminAccessLevel === 'partialAccess' ">You have admin rights. <strong>{{user?.displayName}}</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="row border-bottom manageUsers" *ngIf="user" style="margin-top: 20px;">
    <div class="col-md-12 userListColumn">
        <div class="media userItemList">
            <div class="media-body userList">
                <h1 class="h2">Manage User Profiles</h1>
                <user-list [userList]="userList" [userAccess]="userAccess"></user-list>
            </div>
        </div>
    </div>
</div>