<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Manage Files</h1>
</div>

<!-- <form>
  <div class="form-group form-inline">
    Search: <input class="form-control ml-2" type="text" [formControl]="filter" />
  </div>
</form> -->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Example. Peter" #input>
</mat-form-field>

<div class="container">
  <div class="row">
    <div *ngIf="canCreateFolder" class="col file-command">
      <a (click)="openNewFolderDialog()" class="pointer btn-file-command">
        <mat-icon class="file-icon">
          create_new_folder
        </mat-icon>
        <span>New Folder</span>
      </a>
    </div>
    <div *ngIf="canAddFile" class="col file-command">
      <a class="pointer btn-file-command" (click)="onFileUploadButtonClick()">
        <mat-icon class="file-icon">
          note_add
        </mat-icon>
        New File
      </a>
    </div>
  </div>
</div>

<div>
  <input type="file" #fileInput id="fileUpload" (change)="onDrop($event.target.files)" name="fileUpload"
    multiple="multiple" accept="*" style="display:none;" />
</div>

<span class="spacer"></span>
<div>
  <a (click)="backToRoot()">
    <mat-icon aria-hidden="false" aria-label="homer" class="home-icon">home</mat-icon>
  </a>

  <span class="iconSpace"></span>
  <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px; font-size: 14px;font-weight: 400px;">
    {{currentPath !='root' ?  currentPath : '' || ''}} </span>

</div>

<span class="spacer"></span>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let file">

        <div *ngIf="file.isFolder" (dblclick)="navigate(file)">
          <mat-icon [ngStyle]="{'color':'#92CEFF'}" class=" fa file-or-folder-icon pointer" *ngIf="file.isFolder">
            folder
          </mat-icon>
        </div>

        <!-- If not folder show extention file -->
        <div *ngIf="!file.isFolder">
          <a *ngIf="!file.isFolder" style="text-decoration: none; color: inherit !important;" [href]="file.downloadURL"
            target="_blank" rel="noopener noreferrer" class="urlLink">
            <mat-icon *ngIf="!file.isFolder" [ngStyle]="{'color':'#78726e'}" class="pointer"
              svgIcon={{getFileIcon(file)}}>
            </mat-icon>
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
      <td mat-cell *matCellDef="let file" class="truncate-cell">
        <div *ngIf="file.isFolder" (dblclick)="navigate(file)">
          {{file.name}}
        </div>

        <a *ngIf="!file.isFolder" style="text-decoration: none; color: inherit !important;" [href]="file.downloadURL"
          target="_blank" rel="noopener noreferrer" class="urlLink">
          {{file.name}}
          <br>
          <div class="fileMetadata">
            <div *ngIf="!file.isFolder" class="fileMetadata">
              <span class="row-item-span"> {{ file.size }}</span>
            </div>

            <div *ngIf="(file.uploadProgress | async) as pct" class="fileMetadata">
              <progress [value]="pct" max="100"></progress> {{ pct | number }}%
            </div>
          </div>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let file">
        <span [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
          [matMenuTriggerData]="{self: file}" #menuTrigger="matMenuTrigger"></span>
        <button type="button" class="btn btn-light btn-sm" (click)="openMenu($event, menuTrigger)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-self="self">
    <!-- <button [disabled]="!canMove" mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: self}">
        <mat-icon>open_with</mat-icon>
        <span>Move To</span>
      </button> -->
    <button [disabled]="!canDownload" mat-menu-item [matMenuTriggerData]="{self: self}" (click)="downloadElement(self)">
      <mat-icon [disabled]="!canDownload">cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <!-- <button mat-menu-item (click)="openRenameDialog(self)">
        <mat-icon>edit</mat-icon>
        <span>Rename</span>
      </button> -->
    <button [disabled]="!canShare || self.isFolder" mat-menu-item (click)="openShareDialog(self)">
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
    <button [disabled]="!canDelete" mat-menu-item [matMenuTriggerData]="{self: self}" (click)="deleteElement(self)">
      <mat-icon [disabled]="!canDelete">delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #moveToMenu="matMenu">
  <ng-template matMenuContent let-self="self">
    <ng-container *ngFor="let file of fileElements | async">
      <button *ngIf="file.isFolder" mat-menu-item (click)="moveElement(self, file)">
        {{file.name}}
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
