.primary-command-bar {
    border-bottom: 1px solid #edebe9;
    height: 40px;
    padding: 0px 50px;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(234, 235, 230);
}

.primary-commads-left {
    display: inline-block;
    background-color: rgb(234, 235, 230);
    height: 100%;
}

.primary-commads-left .btn {
    margin-left: 10px;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    min-width: 40px;
    background-color: inherit;
    color: rgb(50, 49, 48);
    height: 100%;
    user-select: none;
    outline: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    border-radius: 0px;
}